.OmgivelserDiv h1 {
    text-align: center;
}

.imageSliderDiv {
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.galleryImgContainer {
    width: 700px;
    height: 460px;
    border: black solid 1px;
}

.galleryImgContainer img {
    height: 100%;
    width: 100%;
}

.galleryImgContainer p {
    text-align: center;
}

.galleryBtn {
    height: 40px;
    align-self: center;
    background-color: #D0A98F;
}

.galleryBtn:hover{
    background-color: #805941;
    cursor: pointer;
    
}