.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.bigRight img{
    width: 650px;

margin-left: 30px;
}

.smBot {
    display: flex;
}

.smBot img{
    width: 275px;
    margin-top: 50px;
    padding-left: 20px;
}
.oplevH1{
    text-align: center;
    margin-bottom: 20px;
}
.imgSize1{
    width: 600px;
    height: 400px;
    margin: 0px;
}