.tilbyd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}   

.tilbyd img{
    width: 386px;
    margin: 20px;
}
.tilbydH1{
    text-align: center;
    margin: 30px 0 30px 0;
}